@{
    ViewData["Title"] = "Index";
}
<header>
    <h1>AHORCADO</h1>
    <a href='@Url.Action("Index", "Home")' >INICIO</a>
</header>

<div>
    <p>Bienvenidos al sitio web para jugar Ahorcado</p>
    <h2>
    Para jugar presione <a href='@Url.Action("juego", "Home")' >aqui</a>
    </h2>
</div>
