@{
    ViewData["Title"] = "Index";
}
<header>
    <a href='@Url.Action("Index", "Home")' >INICIO</a>
</header>

<div>
    <h1>Bienvenidos al Ahorcado</h1>
    <a href='@Url.Action("iniciarPartida")'><p>PRUEBE JUGAR</p></a>
</div>
