@{
    ViewData["Title"] = "Index";
}
<header>
    <a href='@Url.Action("Index", "Home")' >INICIO</a>
</header>

<div>
    <p>Bienvenidos al sitio web para jugar Ahorcado</p>
    <h2>
    Para jugar presione <a href='@Url.Action("mostrarLetraO, "Home")' >aquí</a>
    </h2>
</div>
