@{
    ViewData["Title"] = "Index";
}
<header>
    <a href='@Url.Action("Index", "Home")' >INICIO</a>
</header>

<div>
    <h1>Bienvenidos al Ahorcado, para jugar toque</h1>
    <a href='@Url.Action("iniciarPartida")'><p>aquí</p></a>
</div>

