@{
    ViewData["Title"] = "Index";
}

<h5>
    <h3>LAS LETRAS QUE YA ARRIESGASTE SON:</h3>
    <h4>INTENTOS:</h4>
</h5>

<section>
        <form action = index.html>
            Ingrese una letra: <input type="text" name="letra" placeholder="Ingrese letra a arriesgar"/><br/>
           <p><input type="submit" value="Mandar"></p>
        </form>
</section>
        
<div>
        <form action = index.html>
            Ingrese una palabra: <input type="text" name="palabra" placeholder="Ingrese palabra a arriesgar"/><br/>
           <p><input type="submit" value="Mandar"></p>
        </form>
</div>