html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}

header{
  font-size: 20px;
  background-color: rgb(221, 255, 253);
}

h1{
  font-size: 20px;
  float: left;
}

div p{
  font-size: 14px; 
  float: left;
}




footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #0080ff;
  border-top: 1px solid #e9ecef;
}