html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}

header{
  font-size: 20px;
  background-color: rgb(221, 255, 253);
}



p{
  font-size: 20px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(131, 131, 55);
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #c3e1ff;
  border-top: 1px solid #e9ecef;
}
a{
 text-decoration: none; 
}